# pip requirements
# pip install -r requirements.txt

# networkx incompatible with python>=3.10
# pygraphviz and graphviz issue unsolved!
scipy==1.7.3
networkx==2.6.3
matplotlib==3.5.1
gurobipy==9.5.0
